@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border: 2px inset var(--background);
  background: var(--foreground);
  color: var(--background);
  padding: 0 1rem 0 1rem; ;
}

input {
  border: 2px inset var(--background);
  background: var(--foreground);
  color: var(--background);
}
